<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="frontend.zanatciu.com.zanatciu">




    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>



    


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".Funksionalitete.ActivityClasses.Login"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Funksionalitete.ActivityClasses.Regjistro"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".Funksionalitete.ActivityClasses.RifitoFjalekalim"
            android:screenOrientation="portrait"
            >
        </activity>


        <activity
            android:name=".Kreu.ActivityClasses.Kreu"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".Kreu.ActivityClasses.PuneItem"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".Kreu.ActivityClasses.SherbimItem"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".Abonimet.ActivityClasses.Karta"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".Abonimet.ActivityClasses.Abonime"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".Funksionalitete.ActivityClasses.Cilesime"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".Funksionalitete.ActivityClasses.Profili"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".PunetEMia.ActivityClasses.PunetEMia"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".SherbimetEMia.ActivityClasses.SherbimetEMia"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".SherbimetEMia.ActivityClasses.ShtoSherbim"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".PunetEMia.ActivityClasses.ShtoPune"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".PunetEMia.ActivityClasses.PuneItemPunedhenes"
            android:screenOrientation="portrait"
            >
        </activity>


        <activity
            android:name=".SherbimetEMia.ActivityClasses.SherbimItemOfruesi"
            android:screenOrientation="portrait"
            >
        </activity>


        <activity
            android:name=".Kreu.ActivityClasses.AplikimePune"
            android:screenOrientation="portrait"
            >
        </activity>


        <activity
            android:name=".Kreu.ActivityClasses.AplikimePrenotimeSherbim"
            android:screenOrientation="portrait"
            >
        </activity>



       <!--

       <activity
            android:name=".Kreu.ActivityClasses.Kreu"
            android:screenOrientation="portrait"
            >
        </activity>
        -->








    </application>





</manifest>